<!DOCTYPE html>
<html>
    <head>
        <title>MarkDownEditor</title>
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="../library/showdown/dist/showdown.min.js"></script>
        <script src="../library/jquery/jquery-3.4.1.min.js"></script>
    </head>
    <body>

        <div class="menu">
            <h1>MarkdownEditor</h1>
            <div class="files"></div>
        </div>

        <div class="column">
            <textarea></textarea>
        </div>

        <div class="column">
            <div class="label"><label></label></div>
            <div class="name">
               
            <table>
                <tr>
                  <td style="width: 80%">
                      <textarea id="nameInput" placeholder="Filename"></textarea>
                  </td>
                  <td>
                      <button id="saveButton" style="width: 100%">Save</label>
                  </td>
                </tr>

                <!-- <div class="filename inline"></div>
                <div class="save inline"></div> -->
              </table>
            </div>
            



<!-- 
            <table>
                <tr>
                    <td></td>  
                    <td></td>
                </tr>
            </table> -->
            



        </div>

        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
