<!DOCTYPE html>
<html>
    <head>
        <title>MarkDownEditor</title>
        <link rel="stylesheet" href="css/index.css">
        <script type="text/javascript" src="../library/showdown/dist/showdown.min.js"></script>
        <script src="../library/jquery/jquery-3.4.1.min.js"></script>
    </head>
    <body>

        <div class="menu">
            <div class="softwareName">MarkdownEditor</div>
            <div class="files"></div>
        </div>

        <div class="column">
            <textarea></textarea>
        </div>

        <div class="column">
            <label></label>



            <table>
                <tr>
                    <td><textarea id="nameInput"></textarea></td>  
                    <td><label id='save'>Save</label></td>
                </tr>
            </table>
            



        </div>

        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
